In [6]:
import pandas as pd
import numpy as np
import sqlalchemy 
from sqlalchemy import create_engine

In [11]:
#lire le fichier excel
mag_jour_casino = pd.read_excel('D:\\PerrenotStage\\alimentation_tables\\DocumentExploitation.xlsx', sheet_name=0, usecols=[7,9,10,11])
mag_jour_casino.head()

      H Mag Imm Mag                         Lib Mag  Rolls
0  07:00:00   C8497            PS ST MARTIN VESUBIE    1.0
1  07:00:00   TZ148  TF FICTIF SHOP AIX EN PROVENCE   15.0
2  07:00:00   TZ148  TF FICTIF SHOP AIX EN PROVENCE    3.0
3  17:00:00   TZ058            NICE ROUTE DE BELLET    8.0
4  17:00:00   TZ058            NICE ROUTE DE BELLET    8.0

In [12]:
#renommer les colonnes 
mag_jour_casino.rename(columns={'Lib Mag':'magasin_adresse', 'H Mag':'magasin_heure_liv','Imm Mag': 'magasin_code', 'Rolls': 'nbre_rolls'}, inplace=True)
mag_jour_casino.drop(2,inplace=True)
mag_jour_casino

   magasin_heure_liv magasin_code                  magasin_adresse  nbre_rolls
0           07:00:00        C8497             PS ST MARTIN VESUBIE         1.0
1           07:00:00        TZ148   TF FICTIF SHOP AIX EN PROVENCE        15.0
3           17:00:00        TZ058             NICE ROUTE DE BELLET         8.0
4           17:00:00        TZ058             NICE ROUTE DE BELLET         8.0
5           17:00:00        TZ058             NICE ROUTE DE BELLET         1.0
..               ...          ...                              ...         ...
85          06:00:00        TL369                   NICE MACCARANI         3.0
86          06:00:00        TL369                   NICE MACCARANI         1.0
87          06:00:00        TL793        PS NICE 212 AV CALIFORNIE         6.0
88          06:00:00        TL793        PS NICE 212 AV CALIFORNIE         5.0
89          08:30:00        C8402  PS ROQUEBRUNE CAP MARTIN BRIAND         3.0

[89 rows x 4 columns]

In [9]:
#additionner volume des rolls pour chaque magasin
mag_jour_casino=mag_jour_casino.groupby(['magasin_code','magasin_heure_liv','magasin_adresse' ])['nbre_rolls'].sum()
#rolls=rolls.reset_index()
mag_jour_casino=mag_jour_casino.reset_index()
mag_jour_casino

,magasin_code,magasin_heure_liv,magasin_adresse,nbre_rolls
0,C2167,05:30:00,PS VILLENEUVE LOUBET,4.0
1,C3154,09:00:00,NICE VERNIER 31,4.0
2,C3165,08:00:00,NICE GROSSO 65,9.0
3,C3195,09:00:00,PS NICE AV DE LA GENDARMERIE,7.0
4,C3932,10:00:00,BEAUSOLEIL REPUBLIQUE 42,4.0
5,C8226,07:30:00,PS MENTON THIERS,5.0
6,C8230,07:30:00,PS LE CANNET CARNOT 77,4.2
7,C8402,08:30:00,PS ROQUEBRUNE CAP MARTIN BRIAND,3.0
8,C8403,05:15:00,PS LA TURBIE DE GAULLE,6.0
9,C8422,08:00:00,PS CANNES LECERF,4.0
10,C8445,05:30:00,PS CAGNES SUR MER GIACOSA,12.0
11,C8489,08:00:00,PS THEOULE DAHON,9.0
12,C8497,07:00:00,PS ST MARTIN VESUBIE,1.0
13,E1195,08:30:00,PS FAYENCE,3.0
14,E1715,07:00:00,PS CLANS,12.2
15,E1726,08:30:00,NICE ST SYLVESTRE,1.0
16,E1730,07:00:00,PS MONTAUROUX,3.0
17,E1757,08:30:00,PS NICE MASCOINAT,2.0
18,E3309,07:30:00,PS NICE LOUIS GASSIN,4.0
19,E3395,10:00:00,PS CROS DE CAGNES AV OLIVIERS,4.0
20,E3760,08:00:00,PS BIOT,6.0
21,E8615,05:30:00,PS CONTES PLACE ALBERT OLIVIER,4.0
22,E8638,08:00:00,PS VILLEFRANCHE SUR MER,4.0
23,E8679,06:00:00,PS ST JEAN CAP FERRAT CLEMENCEAU,4.0
24,EMB26,23:00:00,NAVETTE EMB POUR MTL,51.0
25,F3700,08:00:00,PS MOUGINS BREGUIERES,1.0
26,TK820,07:00:00,ISOLA 2000,9.0
27,TL144,07:00:00,LE CANNET DISTRICANNET BD CARNOT,9.0
28,TL369,06:00:00,NICE MACCARANI,10.0
29,TL401,05:30:00,NICE GOIRON,6.0
30,TL420,05:30:00,PS MENTON FORNARI,2.0
31,TL793,06:00:00,PS NICE 212 AV CALIFORNIE,11.0
32,TR007,09:00:00,TOTAL BREGUIERES SUD,5.0
33,TW512,05:58:00,LEVENS SUPER LEVENS TIMY,17.0
34,TZ058,17:00:00,NICE ROUTE DE BELLET,17.0
35,TZ148,07:00:00,TF FICTIF SHOP AIX EN PROVENCE,18.0
36,TZ159,05:00:00,PS NICE ST PANCRACE,12.0
37,TZ281,07:00:00,PS CARROS VILLAGE ST PIERRE,12.0
38,TZ624,05:00:00,VALBONNE LES ARCADES,8.0

In [44]:
c1="EMB1255"
c2="AMB"
if not c2 in c1:
    print("ca marche")

ca marche

In [41]:
# connexion BDD
engine = create_engine('mysql+pymysql://simplon:Simplon2020@localhost:3306/perrenot')

In [45]:
#récupération magasin_id de chaque magasin
magasin_id        =[]
magasin_Nexistants=[]
casino_enseigne_id=pd.read_sql_query("select enseigne_id as ens_id from enseigne where enseigne_intitulé='CASINO' ", engine)['ens_id']
mag_jour_casino['enseigne_id']=casino_enseigne_id[0]
mag_jour_casino

,magasin_code,magasin_heure_liv,magasin_adresse,nbre_rolls,enseigne_id
0,C2167,05:30:00,PS VILLENEUVE LOUBET,4.0,1
1,C3154,09:00:00,NICE VERNIER 31,4.0,1
2,C3165,08:00:00,NICE GROSSO 65,9.0,1
3,C3195,09:00:00,PS NICE AV DE LA GENDARMERIE,7.0,1
4,C3932,10:00:00,BEAUSOLEIL REPUBLIQUE 42,4.0,1
5,C8226,07:30:00,PS MENTON THIERS,5.0,1
6,C8230,07:30:00,PS LE CANNET CARNOT 77,4.2,1
7,C8402,08:30:00,PS ROQUEBRUNE CAP MARTIN BRIAND,3.0,1
8,C8403,05:15:00,PS LA TURBIE DE GAULLE,6.0,1
9,C8422,08:00:00,PS CANNES LECERF,4.0,1
10,C8445,05:30:00,PS CAGNES SUR MER GIACOSA,12.0,1
11,C8489,08:00:00,PS THEOULE DAHON,9.0,1
12,C8497,07:00:00,PS ST MARTIN VESUBIE,1.0,1
13,E1195,08:30:00,PS FAYENCE,3.0,1
14,E1715,07:00:00,PS CLANS,12.2,1
15,E1726,08:30:00,NICE ST SYLVESTRE,1.0,1
16,E1730,07:00:00,PS MONTAUROUX,3.0,1
17,E1757,08:30:00,PS NICE MASCOINAT,2.0,1
18,E3309,07:30:00,PS NICE LOUIS GASSIN,4.0,1
19,E3395,10:00:00,PS CROS DE CAGNES AV OLIVIERS,4.0,1
20,E3760,08:00:00,PS BIOT,6.0,1
21,E8615,05:30:00,PS CONTES PLACE ALBERT OLIVIER,4.0,1
22,E8638,08:00:00,PS VILLEFRANCHE SUR MER,4.0,1
23,E8679,06:00:00,PS ST JEAN CAP FERRAT CLEMENCEAU,4.0,1
24,EMB26,23:00:00,NAVETTE EMB POUR MTL,51.0,1
25,F3700,08:00:00,PS MOUGINS BREGUIERES,1.0,1
26,TK820,07:00:00,ISOLA 2000,9.0,1
27,TL144,07:00:00,LE CANNET DISTRICANNET BD CARNOT,9.0,1
28,TL369,06:00:00,NICE MACCARANI,10.0,1
29,TL401,05:30:00,NICE GOIRON,6.0,1
30,TL420,05:30:00,PS MENTON FORNARI,2.0,1
31,TL793,06:00:00,PS NICE 212 AV CALIFORNIE,11.0,1
32,TR007,09:00:00,TOTAL BREGUIERES SUD,5.0,1
33,TW512,05:58:00,LEVENS SUPER LEVENS TIMY,17.0,1
34,TZ058,17:00:00,NICE ROUTE DE BELLET,17.0,1
35,TZ148,07:00:00,TF FICTIF SHOP AIX EN PROVENCE,18.0,1
36,TZ159,05:00:00,PS NICE ST PANCRACE,12.0,1
37,TZ281,07:00:00,PS CARROS VILLAGE ST PIERRE,12.0,1
38,TZ624,05:00:00,VALBONNE LES ARCADES,8.0,1

In [46]:
requete="select magasin_id as id from magasin where magasin_code='%s' and enseigne_id='%s'"

for i in range(mag_jour_casino.shape[0]):
    mag_cd=mag_jour_casino.iloc[i,0]
    ens_id=mag_jour_casino.iloc[i,4]
    if not "EMB" in mag_cd:  # ne pas selectionner les magasins qui commencent par EMB
        mag_id=pd.read_sql_query(requete %(mag_cd,ens_id), engine)['id']
        if  mag_id.empty:
            magasin_Nexistants.append(mag_cd)
        else: 
            magasin_id.append(mag_id[0])
if not(magasin_Nexistants)        :
    mag_jour_casino['magasin_id']=magasin_id   
else:
    print("les magasin suivants n existent pas, veuillez les rajouter", magasin_Nexistants) 
#mag_jour_casino

les magasin suivants n existent pas, veuillez les rajouter ['C2167', 'C3154', 'C3165', 'C3932', 'C8230', 'E1195', 'TZ148']

In [72]:
del mag_jour_final['enseigne_id']
del mag_jour_final['magasin_code']
mag_jour_final

    nbre_rolls  nbre_palette  nbre_box  magasin_id
0          6.3           0.0       0.0           3
1          5.0           0.0       0.0         146
2          5.2           0.0       4.0         149
3          3.1           0.0       0.0          26
4         12.1           0.0       0.0         169
5          1.0           0.0       0.0          52
6          3.0           0.0       0.0          53
7          2.0           0.0       0.0         177
8          4.0           0.0       0.0          61
9          4.0           0.0       0.0          64
10         5.6           0.0       0.0          78
11         0.8           0.0       0.0          87
12         4.0           0.0       0.0         174
13         4.0           0.0       0.0          89
14         9.0           0.0       0.0         172
15         2.0           0.0       0.0         151
16        16.1           0.0       0.0         134
17         7.1           0.0       1.0         143
18         3.0           3.0       0.0         193
19        20.0           2.0       0.0         194
20        10.0           0.0       0.0         226
21        28.0           0.0       3.0         227
22        11.0           0.0       1.0         228

In [73]:

mag_jour_final['date']='2020-10-24'
mag_jour_final

    nbre_rolls  nbre_palette  nbre_box  magasin_id        date
0          6.3           0.0       0.0           3  2020-10-24
1          5.0           0.0       0.0         146  2020-10-24
2          5.2           0.0       4.0         149  2020-10-24
3          3.1           0.0       0.0          26  2020-10-24
4         12.1           0.0       0.0         169  2020-10-24
5          1.0           0.0       0.0          52  2020-10-24
6          3.0           0.0       0.0          53  2020-10-24
7          2.0           0.0       0.0         177  2020-10-24
8          4.0           0.0       0.0          61  2020-10-24
9          4.0           0.0       0.0          64  2020-10-24
10         5.6           0.0       0.0          78  2020-10-24
11         0.8           0.0       0.0          87  2020-10-24
12         4.0           0.0       0.0         174  2020-10-24
13         4.0           0.0       0.0          89  2020-10-24
14         9.0           0.0       0.0         172  2020-10-24
15         2.0           0.0       0.0         151  2020-10-24
16        16.1           0.0       0.0         134  2020-10-24
17         7.1           0.0       1.0         143  2020-10-24
18         3.0           3.0       0.0         193  2020-10-24
19        20.0           2.0       0.0         194  2020-10-24
20        10.0           0.0       0.0         226  2020-10-24
21        28.0           0.0       3.0         227  2020-10-24
22        11.0           0.0       1.0         228  2020-10-24

In [74]:
# ajouter des camions aux magasins
camion_id=[2,2,2,2,2,9,9,9,9,9,9,9,9,9,11,11,11,12,12,12,13,14,13]
mag_jour_final['camion_id']=camion_id
mag_jour_final['date']
mag_jour_final

    nbre_rolls  nbre_palette  nbre_box  magasin_id        date  camion_id
0          6.3           0.0       0.0           3  2020-10-24          2
1          5.0           0.0       0.0         146  2020-10-24          2
2          5.2           0.0       4.0         149  2020-10-24          2
3          3.1           0.0       0.0          26  2020-10-24          2
4         12.1           0.0       0.0         169  2020-10-24          2
5          1.0           0.0       0.0          52  2020-10-24          9
6          3.0           0.0       0.0          53  2020-10-24          9
7          2.0           0.0       0.0         177  2020-10-24          9
8          4.0           0.0       0.0          61  2020-10-24          9
9          4.0           0.0       0.0          64  2020-10-24          9
10         5.6           0.0       0.0          78  2020-10-24          9
11         0.8           0.0       0.0          87  2020-10-24          9
12         4.0           0.0       0.0         174  2020-10-24          9
13         4.0           0.0       0.0          89  2020-10-24          9
14         9.0           0.0       0.0         172  2020-10-24         11
15         2.0           0.0       0.0         151  2020-10-24         11
16        16.1           0.0       0.0         134  2020-10-24         11
17         7.1           0.0       1.0         143  2020-10-24         12
18         3.0           3.0       0.0         193  2020-10-24         12
19        20.0           2.0       0.0         194  2020-10-24         12
20        10.0           0.0       0.0         226  2020-10-24         13
21        28.0           0.0       3.0         227  2020-10-24         14
22        11.0           0.0       1.0         228  2020-10-24         13

In [75]:
# alimenter la table camion_magasin
mag_jour_final.to_sql('camion_magasin', con=engine, index=False, if_exists='append')

In [76]:
# créer dataframe chauffeur_camion
camion_id=[2,9,11,12,13,14]
chauf_id=[1,3,5,9,11,12]
chauffeur_camion = pd.DataFrame({'chauf_id': chauf_id,'camion_id': camion_id}, columns = ['chauf_id', 'camion_id'])
chauffeur_camion['date']='2020-10-24'
chauffeur_camion

   chauf_id  camion_id        date
0         1          2  2020-10-24
1         3          9  2020-10-24
2         5         11  2020-10-24
3         9         12  2020-10-24
4        11         13  2020-10-24
5        12         14  2020-10-24

In [77]:
# alimenter la table chauffeur_camion
chauffeur_camion.to_sql('chauffeur_camion', con=engine, index=False, if_exists='append')

In [10]:
L=[]
L.append((1,'cocou','2020-10-02'))
L.append((3,4,5))
print(len(L))

2

In [5]:
l=['C1', 'C2','C3']
c="Erreur, les magasins suivant"+",".join(l)+" n'éxistaient pas et ont été ajoutés"
print(c)

Erreur, les magasins suivantC1,C2,C3 n'éxistaient pas et ont été ajoutés